<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title th:text="#{registration.title}">Registration</title>
	
	<link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/style.css" th:href="@{/css/style.css}"/>
</head>

<body>

	<div class="container">
		<div class="info-container">
			<h2 class="form-signin-heading" th:text="#{registration.headline}">
			 	Please register
		    </h2>
			
        </div>
		<form action="#" th:action="@{/registration}" th:object="${registrationUser}" class="form-signin" method="post">
			<div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger" th:text="#{registration.form.error}">
	            Error while registration process
	        </div>
			<fieldset>
			  	<div th:replace="textinput :: textinput('userName', 'text', true)"></div>
			  	<div th:replace="textinput :: textinput('email', 'text', true)"></div>
				<div th:replace="textinput :: textinput('password', 'password', true)"></div>
				<div th:replace="textinput :: textinput('confirmPassword', 'password', true)"></div>
				<div th:replace="textinput :: textinput('formattedName', 'text', false)"></div>
				<div th:replace="textinput :: textinput('familyName', 'text', false)"></div>
				<div th:replace="textinput :: textinput('givenName', 'text', false)"></div>
				<div th:replace="textinput :: textinput('middleName', 'text', false)"></div>
				<div th:replace="textinput :: textinput('honorificPrefix', 'text', false)"></div>
				<div th:replace="textinput :: textinput('honorificSuffix', 'text', false)"></div>
				<div th:replace="textinput :: textinput('displayName', 'text', false)"></div>
				<div th:replace="textinput :: textinput('nickName', 'text', false)"></div>
				<div th:replace="textinput :: textinput('profileUrl', 'text', false)"></div>
				<div th:replace="textinput :: textinput('title', 'text', false)"></div>
				<div th:replace="textinput :: textinput('preferredLanguage', 'text', false)"></div>
				<div th:replace="textinput :: textinput('locale', 'text', false)"></div>
				<div th:replace="textinput :: textinput('timezone', 'text', false)"></div>
				<div th:replace="textinput :: textinput('phoneNumber', 'text', false)"></div>
				<div th:replace="textinput :: textinput('im', 'text', false)"></div>
				<div th:replace="textinput :: textinput('photo', 'text', false)"></div>
				<div th:replace="textinput :: textinput('formattedAddress', 'text', false)"></div>
				<div th:replace="textinput :: textinput('streetAddress', 'text', false)"></div>
				<div th:replace="textinput :: textinput('locality', 'text', false)"></div>
				<div th:replace="textinput :: textinput('region', 'text', false)"></div>
				<div th:replace="textinput :: textinput('postalCode', 'text', false)"></div>
				<div th:replace="textinput :: textinput('country', 'text', false)"></div>
				
				<div th:replace="textinput :: extensioninput('urn:client:extension', 'age', 'text', false)"></div>
 
				<button class="btn btn-lg btn-primary btn-block"
						type="submit"
					    th:text="#{registration.form.register}">Register</button>
			</fieldset>
		</form>

	</div>
</body>
</html>
