<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<div id="mail-subject" th:remove="tag" th:text="#{mail.lostpassword.subject}">Change of your password</div>
   		
   		<div id="mail-body">
        	<div th:replace="mailtextbricks :: #salutation"></div>,<br />
        	<br />
        	<p th:text="#{mail.lostpassword.body}">to reset your password, please click the link below:</p>
        	<a th:href="@{${lostpasswordlink}}" th:text="@{${lostpasswordlink}}">Link</a><br />
        	<p th:text="#{mail.greeting}">Sincerely</p>
        </div>
    </body>
</html>