<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="form-group" th:fragment="defaultInput(attribute, type)"
     th:if="${#maps.containsKey(requiredFieldMapping, attribute)}">
    <div th:if="${#fields.hasErrors(attribute)}"
         th:errors="*{__${attribute}__}"
         class="error-message alert-danger">
        Error
    </div>
    <input th:type="${type}"
           th:field="*{__${attribute}__}"
           class="form-control"
           th:placeholder="#{registration.user.__${attribute}__} + (${requiredFieldMapping.get(attribute)} ? ' *' : '')"
           th:errorclass="alert-danger"
           th:required="${requiredFieldMapping.get(attribute)}"
           th:classappend="${requiredFieldMapping.get(attribute)}? 'required'"/>
</div>
<div class="form-group" th:fragment="extensionInput(urn, field, type)"
     th:with="attribute='extensions[\'' + ${urn} + '\'].fields[\'' + ${field} + '\']'">
    <div th:if="${#fields.hasErrors(attribute)}"
         th:errors="*{__${attribute}__}"
         class="error-message alert-danger">
        Error
    </div>
    <input th:type="${type}"
           th:field="*{__${attribute}__}"
           class="form-control"
           th:placeholder="#{registration.user.__${urn}+'.'+${field}__} + (${requiredFieldMapping.get(attribute)} ? ' *' : '')"
           th:errorclass="alert-danger"
           th:required="${requiredFieldMapping.get(attribute)}"
           th:classappend="${requiredFieldMapping.get(attribute)}? 'required'"/>
</div>
</body>
</html>
