<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:text="#{registration.html.title}">Registration</title>

    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <link rel="stylesheet" type="text/css" href="../../resources/css/style.css" th:href="@{/css/style.css}"/>
</head>

<body>
<div class="container">
    <div class="info-container">
        <h2 class="form-signin-heading" th:text="#{registration.html.headline}">
            Please register
        </h2>

    </div>
    <form action="#" th:action="@{/registration}" th:object="${registrationUser}" class="form-signin" method="post">
        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger" th:text="#{registration.form.error}">
            Error while registration process
        </div>
        <div th:if="${errorMessage != null}" class="alert alert-danger" th:text="${errorMessage}">
            Error message
        </div>
        <fieldset>
            <div th:replace="htmlfield :: defaultInput('userName', 'text', true)"></div>
            <div th:replace="htmlfield :: defaultInput('email', 'email', true)"></div>
            <div th:replace="htmlfield :: defaultInput('password', 'password', true)"></div>
            <div th:replace="htmlfield :: defaultInput('confirmPassword', 'password', true)"></div>
            <div th:replace="htmlfield :: defaultInput('formattedName', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('familyName', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('givenName', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('middleName', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('honorificPrefix', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('honorificSuffix', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('displayName', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('nickName', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('profileUrl', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('title', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('preferredLanguage', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('locale', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('timezone', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('phoneNumber', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('im', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('photo', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('formattedAddress', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('streetAddress', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('locality', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('region', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('postalCode', 'text', false)"></div>
            <div th:replace="htmlfield :: defaultInput('country', 'text', false)"></div>

            <button class="btn btn-lg btn-primary btn-block"
                    type="submit"
                    th:text="#{registration.form.register}">Register
            </button>
        </fieldset>
    </form>

</div>
</body>
</html>
