<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:text="#{registration.html.title}">Registration</title>

    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="info-container">
        <div class="alert alert-success" th:utext="#{registration.success(${user.userName})}">
            SUCCESS
        </div>
    </div>
</div>
</body>
</html>
